html, *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: 'Capriola', sans-serif;
    font-weight: normal;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;

    &.thin {
        max-width: 700px;
    }

    &.thin {
        max-width: 700px;
    }

    &.wide {
        max-width: 1500px;
    }
}

h2 {
    font-size: 46px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 34px;
}

h5 {
    font-size: 20px;
}

h6 {
    margin: 0;
}

.header {
    margin: 0;
    color: #fff;
    text-transform: uppercase;

    &.with-bullet::before {
        content: " ";
        border-radius: 50%;
        border: 7px solid #267383;
        display: inline-block;
        position: relative;
        top: -17px;
        left: -13px;
    }

    &.light::before {
        border-color: #10abad;
    }

    &.dark {
        color: #2ab4b6;
    }

    &.underline {
        padding-bottom: 25px;
    }

    &.grey {
        color: #2b2f35;
    }

    &.dark-blue {
        color: #0a4c5a;
    }

    &.underline::before {
        content: " ";
        border-bottom: 3px solid #0a4c5a;
        width: 94px;
        position: relative;
        display: block;
        top: 70px;
    }
}

a {
    text-decoration: none;
    color: #2d2d2d;
}

p {
    color: #464646;
}

img {
    max-width: 100%;
}

.centered {
    text-align: center;
}

.align-left {
    float: left;
    padding-right: 20px;
    padding-bottom: 12px;
}

.btn {
    text-transform: uppercase;
    border-radius: 60px;
    border: 0;
}

.btn-blue {
    background: #10abad;
    color: #fff;
}

.btn-large {
    font-size: 20px;
    padding: 25px 90px;

    &.btn-with-right-arrow {
        background-image: url('../images/arrow-right.png');
        background-position: 50px 18px;
        background-repeat: no-repeat;
        padding-left: 115px;
        padding-right: 70px;
    }
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        padding: 0 10px;
    }
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 480px) {
    .btn-large {
        font-size: 15px;
        padding: 15px 30px 15px 30px;

        &.btn-with-right-arrow {
            padding: 15px 30px 15px 70px;
            background-position: 15px 5px;
        }
    }
}
