.cover-photo {
    .wrapper {
        position: relative;
    }

    &.homepage {
        min-height: 1316px;
        width: 100%;
        background: url('../images/homepage-cover.jpg') top center no-repeat;

        .cover-header {
            position: absolute;
            top: 69px;
            left: 0;
            margin: 0;
            line-height: 134px;
            font-size: 121px;
            color: #0a4c5a;
            text-transform: uppercase;

            .low {
                display: block;
                font-size: 83px;
                line-height: 95px;
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    .cover-photo {
        &.homepage {
            .cover-header {
                line-height: 66px;
                font-size: 57px;
                left: 10px;

                .low {
                    font-size: 50px;
                    line-height: 61px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .cover-photo {
        &.homepage {
            display: none;
        }
    }
}
