footer.main-footer {
    background: #064b64;
    padding: 30px 0;
    
    ul {
        padding: 0;
        margin: 0;
    }

    .icons {
        margin-bottom: 30px;

        li {
            list-style: none;
            display: inline-block;
            font-size: 0;
            width: 24%;

            span {
                font-size: 12px;
                display: inline-block;
                position: relative;
                top: -30px;
                color: #fff;
            }

            a {
                color: #fff;
            }

            &.location,
            &.email,
            &.mobile {
                width: 27%;
            }

            &.social {
                width: auto
            }
        }
        
        .icon-social {
            background: url('../images/footer-social-sprite.png') no-repeat top left;
            width: 22px;
            height: 22px;
            top: -24px;
            display: inline-block;
            margin: 0 10px 0 0;

            &.fb {
                background-position: -23px 0;
            }

            &.gplus {
                background-position: 0 0;
            }
        }
    }

    .sub-menu {
        margin: 12px 0 20px;

        li {
            list-style: none;
            display: inline-block;
            font-size: 0;

            a {
                font-size: 12px;
                text-transform: uppercase;
                color: #fff;
            }

            &::after {
                content: "|";
                color: #fff;
                font-size: 12px;
                display: inline-block;
                margin: 0 8px 0 14px;
            }
            
            &:last-child::after {
                display: none;
            }
        }
    }

    .policy {
        margin: 12px 0 0;

        li {
            list-style: none;
            display: inline-block;
            font-size: 0;

            a {
                font-size: 12px;
                color: #fff;
            }

            &:first-child {
                a {
                    color: #00a994;
                }
            }

            &::after {
                content: "|";
                color: #fff;
                font-size: 12px;
                display: inline-block;
                margin: 0 8px 0 14px;
            }

            &:last-child::after {
                display: none;
            }
        }
    }

    .partners {
        width: 292px;

        h6 {
            border-bottom: 1px solid #028381;
            font-size: 15px;
            margin-bottom: 10px;
            padding-bottom: 5px;
            color: #fff;
        }

        li {
            list-style: none;
            display: inline-block;
            font-size: 0;
            
            &:last-child {
                float: right;
            }
        }
    }

    .info {
        float: left;
    }
    
    .partners {
        float: right;
    }

    .icon {
        display: inline-block;
        width: 73px;
        height: 73px;
        margin-right: 12px;
        background: url('../images/footer-sprite.png') no-repeat top left transparent;
    }

    .address {
        background-position: 2px 2px;
    }

    .mobile {
        background-position: -178px 2px;
    }

    .email {
        background-position: -88px 2px;
    }

    .social {
        background-position: -267px 2px;
    }
}

@media only screen and (max-width: 960px) {
    footer.main-footer {
        .icons {
            li {
                &.location,
                &.email {
                    width: 50%;
                    float: left;
                }

                &.social,
                &.mobile {
                    width: 50%;
                    float: left;
                }
            }
        }
    }
}

@media only screen and (max-width: 840px) {
    footer.main-footer {
        .partners {
            margin-top: 30px;
            width: 100%;

            li {
                &:last-child {
                    float: left;
                    margin-right: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    footer.main-footer {
        .icons {
            li {
                &.location,
                &.email,
                &.social,
                &.mobile {
                    width: 100%;
                }
            }
        }
    }
}
