.one-half {
    width: 50%;
    float: left;
}

.one-third {
    width: 33.3333%;
    float: left;
}

.full-width {
    width: 100%;
}

@media only screen and (max-width: 820px) {
    .one-third {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .one-half {
        width: 100%;
    }
}
