header {
    padding: 5px 0 15px;
    border-bottom: 1px solid #70cdce;
    position: relative;

    .logo {
        float: left;
    }

    .main-nav {
        float: right;
        margin: 40px 0 0 0;

        ul {
            padding: 0;
        }

        li {
            list-style: none;
            display: inline-block;
            font-size: 0;
            margin: 0 4px;

            &.active {
                a {
                    border-bottom: 4px solid #0a4c5a;
                }
            }
        }

        a {
            text-transform: uppercase;
            font-size: 14px;
            color: #2d2d2d;
            text-decoration: none;
            padding: 4px 12px;
        }
    }

    .back-to-service {
        float: right;
        margin: 45px 0 0 0;

        a {
            background: url('../images/back-to-service-arrow.png') top left no-repeat;
            font-size: 16px;
            color: #41bcbe;
            text-transform: uppercase;
            padding: 3px 0 3px 38px;
        }
    }

    .mobile-menu {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;

        border-radius: 5px;
        border: 1px solid #0a4c5a;
        background-color: #fff;
        cursor: pointer;

        &:focus {
            outline: 0;
        }
    }

    .icon-bar {
        display: block;
        width: 100%;
        height: 4px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #0a4c5a;
        margin: 5px 0;
    }
}


@media only screen and (max-width: 960px) {
    header {
        .main-nav {
            width: 100%;
            float: left;
        }
    }
}

@media only screen and (max-width: 640px) {
    header {
        .main-nav {
            margin: 0;

            a {
                padding: 4px 12px 0;
            }

            ul {
                text-align: center;

                li {
                    margin: 5px 4px;
                    width: 100%;
                }
            }
        }

        .mobile-menu {
            display: block;
        }

        .mobile-hidden {
            display: none;
        }
    }
}
