.offer {
    &.homepage {
        background: url('../images/bubbles-bg.jpg') top center;
        height: 317px;
        padding: 70px 0;
        
        h2 {
            margin-bottom: 80px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .offer {
        &.homepage {
            h2 {
                font-size: 30px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .offer {
        &.homepage {
            padding-top: 40px;

            h2 {
                margin-bottom: 40px;
            }
        }
    }
}
