.use-cases {
    &.homepage {
        background: url('../images/semi-circle-bg.png') top center no-repeat #10abad;
        padding: 35px 0;

        h3 {
            margin-bottom: 40px;
        }
    }

    .articles {
        padding: 0;

        li {
            list-style: none;
            font-size: 0;
            max-width: 356px;
            height: 516px;
            display: inline-block;
            background: #fff;
            border-radius: 7px;
            overflow: hidden;
            position: relative;
            padding: 35px 0 0 0;
            margin-bottom: 30px;

            h5 {
                color: #10abad;
                transition: color .25s ease-in-out;
                -moz-transition: color .25s ease-in-out;
                -webkit-transition: color .25s ease-in-out;
            }

            p {
                font-size: 14px;
                max-height: 90px;
                margin: 20px 44px 0;
                overflow: hidden;
            }

            .image-wrapper {
                position: relative;

                &::after {
                    content: " ";
                    display: block;
                    background: url('../images/semi-circle-usecase-pattern.png') top center no-repeat;
                    width: 100%;
                    height: 53px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .hover-layer {
                display: block;
                height: 100%;
                width: 100%;
                background: url('../images/hover-arrow-right.png') center center no-repeat rgba(0, 0, 0, 0.65);
                top: 0;
                left: 0;
                position: absolute;
                opacity: 0;
                transition: opacity .25s ease-in-out;
                -moz-transition: opacity .25s ease-in-out;
                -webkit-transition: opacity .25s ease-in-out;
            }

            &:hover {
                h5 {
                    color: #000;
                }

                .hover-layer {
                    opacity: 1;
                }
            }

            span.see-more {
                display: block;
                font-size: 15px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #fff;
                width: 100%;
                color: #10abad;
                padding: 10px 0;
                text-transform: uppercase;
            }

            &:nth-child(2) {
                margin-left: 35px;
                margin-right: 35px;
            }

            &:nth-child(4),
            &:nth-child(5) {
                margin-left: 18px;
                margin-right: 18px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .use-cases {
        .wrapper {
            .articles {
                li {
                    margin: 10px;
                }
            }
        }
    }
}
