.newsletter {
    background: url('../images/bubbles-bg.jpg') top center;
    height: 390px;
    padding: 40px 0;

    input[type="text"] {
        border: 0;
        padding: 20px 140px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        border-radius: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        color: #6cc7c8;
        font-weight: 300;
        text-align: center;
        margin-bottom: 40px;
        outline: 0;

        &:focus {
            outline: 0;
        }
    }

    h2 {
        color: #fff;
        margin: 25px 0 35px;
    }
    
    .btn {
        font-size: 21px;
        padding: 16px 35px 16px 80px;
        background-position: 22px 8px;
        border: 0;
    }
}

@media only screen and (max-width: 600px) {
    .newsletter {
        input[type="text"] {
            padding: 20px 40px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .newsletter {
        input[type="text"] {
            font-size: 18px;
        }
    }
}
