.social-buttons {
    position: fixed;
    top: 110px;
    right: 0;

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;

            &.call-us {
                transform: rotate(-90deg);
                margin: 0 -60px 80px 0;

                a {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 16px;
                    padding: 9px 56px 9px 15px;
                    background: url('../images/social-phone.png') top right no-repeat #1e859a;
                }
            }

            &.social {
                a {
                    background: url('../images/social-services.png') top left no-repeat;
                    width: 39px;
                    height: 39px;
                    display: block;
                    margin: 0 0 5px 60px;
                    padding: 0;
                }

                .fb {
                    background-position: 0 0;
                }

                .gplus {
                    background-position: -41px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .social-buttons {
        display: none;
    }
}
