.why-us {
    background: #064b64;
    padding: 70px 0;

    h3 {
        margin-bottom: 40px;
    }

    ul {
        padding: 0;
        margin-bottom: 75px;

        li {
            background: #fff;
            list-style: none;
            overflow: hidden;
            border-radius: 7px;
            width: 390px;
            height: 235px;
            display: inline-block;
            font-size: 0;
            padding: 15px 32px;

            &:nth-child(2) {
                margin: 0 5px;
            }

            h5 {
                color: #10abad;
                font-size: 23px;
                margin: 20px 0 0;
            }

            span {
                font-size: 19px;
                color: #064b64;
                text-transform: uppercase;
                display: inline-block;
                margin-top: 4px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .why-us {
        .wrapper {
            ul {
                li {
                    margin: 11px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .why-us {
        .wrapper {
            ul {
                li {
                    width: 100%;
                    height: auto;
                    margin: 0 0 10px 0;
                    padding: 10px;
                }
            }
        }
    }
}
