<div class="applications">
    <div class="wrapper wide clearfix">
        <div class="one-half">
            <img src="../../images/applications-bus.jpg" alt=""/>
        </div>

        <div class="one-half content">
            <h2 class="header dark">
                Zastosowania
                <br/>
                Mobilii
            </h2>

            <h4 class="header dark-blue">
                dla przewozu osób
            </h4>

            <p class="lead">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip
            </p>

            <p>
                commodo consequat. Duis autem vel eum iriure dolor in
                hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitu
            </p>
        </div>
    </div>

    <div class="wrapper">
        <div class="tiles">
            <ul class="centered clearfix">
                <li>
                    <a href="#">
                        <h5 class="header">dla komunikacji miejskiej</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                        <div class="image-wrapper">
                            <img src="../../images/applications-photo-2.jpg" alt=""/>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h5 class="header">dla firm i kawiarnii</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                        <div class="image-wrapper">
                            <img src="../../images/applications-photo-2.jpg" alt=""/>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h5 class="header">dla konferencji i eventów</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                        <div class="image-wrapper">
                            <img src="../../images/applications-photo-2.jpg" alt=""/>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h5 class="header">dla biznesu</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                        <div class="image-wrapper">
                            <img src="../../images/applications-photo-2.jpg" alt=""/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
