<footer class="main-footer">
    <div class="wrapper">
        <div class="row icons">
            <ul class="clearfix">
                <li class="location">
                    <div class="icon address"></div>
                    <span>
                        ul. Lorem 1, 60-687 Poznań
                    </span>
                </li>

                <li class="email">
                    <div class="icon email"></div>
                    <span>
                        <a href="mailto: loremipsum@isum.pl">loremipsum@isum.pl</a>
                    </span>
                </li>

                <li class="mobile">
                    <div class="icon mobile"></div>
                    <span>
                        500 500 500
                    </span>
                </li>

                <li class="social">
                    <div class="icon social"></div>
                    <a href="">
                        <span class="icon-social gplus"></span>
                    </a>
                    <a href="">
                        <span class="icon-social fb"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="row clearfix">
            <div class="info">
                <ul class="sub-menu">
                    <li>
                        <a href="">Zamów</a>
                    </li>
                    <li>
                        <a href="">Oferta</a>
                    </li>
                    <li>
                        <a href="">Zastosowania</a>
                    </li>
                    <li>
                        <a href="">Blog</a>
                    </li>
                    <li>
                        <a href="">O nas</a>
                    </li>
                    <li>
                        <a href="">Kontakt</a>
                    </li>
                </ul>

                <ul class="policy">
                    <li>
                        <a href="">Polityka prywatności </a>
                    </li>
                    <li>
                        <a href="">Dostępność zapewnia Adminotaur.pl</a>
                    </li>
                </ul>
            </div>

            <div class="partners">
                <h6>Partner:</h6>

                <ul class="clearfix">
                    <li>
                        <a href=""><img src="../../images/footer-logo-1.png" alt=""/></a>

                    </li>
                    <li>
                        <a href=""><img src="../../images/footer-logo-2.png" alt=""/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="../../scripts/main.js"></script>
