<header>
    <div class="wrapper clearfix">
        <div class="logo">
            <a href="#">
                <img src="../../images/logo.png" alt=""/>
            </a>
        </div>

        <div class="back-to-service">
            <a href="/templates/pages/home.html">
                przejdź do mobilii
            </a>
        </div>
    </div>
</header>
