<header>
    <div class="wrapper clearfix">
        <div class="logo">
            <a href="#">
                <img src="../../images/logo.png" alt=""/>
            </a>
        </div>

        <nav class="main-nav mobile-hidden">
            <ul>
                <li class="active">
                    <a href="/templates/pages/home.html">Zamów</a>
                </li>
                <li>
                    <a href="/templates/pages/offer.html">Oferta</a>
                </li>
                <li>
                    <a href="/templates/pages/applications.html">Zastosowania</a>
                </li>
                <li>
                    <a href="/templates/pages/blog.html">Blog</a>
                </li>
                <li>
                    <a href="/templates/pages/about.html">O nas</a>
                </li>
                <li>
                    <a href="#">Kontakt</a>
                </li>
            </ul>
        </nav>

        <div class="mobile-menu-wrapper">
            <button class="mobile-menu">
                <i class="icon-bar"></i>
                <i class="icon-bar"></i>
                <i class="icon-bar"></i>
            </button>
        </div>
    </div>
</header>
