<div class="homepage offer">
    <div class="wrapper centered">
        <h2 class="header">Zapewnij swoim klientom komfort podróży</h2>

        <a href="#" class="btn btn-large btn-blue btn-with-right-arrow">
            Sprawdź ofertę
        </a>
    </div>
</div>
