<div class="cover-photo homepage">
    <div class="wrapper">
        <h1 class="cover-header">
            Dostęp
            <br/>
            do internetu
            <span class="low">
                niezależnie
                <br/>
                od miejsca
            </span>
        </h1>
    </div>
</div>
