<div class="why-us">
    <div class="wrapper centered">
        <h3 class="header with-bullet light">Dlaczego mobilia?</h3>

        <ul>
            <li>
                <img src="../../images/homepage-why-us-1.png" alt=""/>
                <h5 class="header">Jesteśmy częścią Mobilia Group</h5>
                <span>
                    Działamy na rynku
                    <br/>
                    ponad 10 lat
                </span>
            </li>

            <li>
                <img src="../../images/homepage-why-us-2.png" alt=""/>
                <h5 class="header">Jesteśmy srebrnym partnerem firmy</h5>
                <span>
                    zapewniającej niezawodne rozwiązania
                </span>
            </li>

            <li>
                <img src="../../images/homepage-why-us-3.png" alt=""/>
                <h5 class="header">Jako partner orange</h5>
                <span>
                    oferujemy najwyższą
                    <br/>
                    jakość usług
                </span>
            </li>
        </ul>

        <a href="#" class="btn btn-large btn-blue btn-with-right-arrow">
            Dowiedz się więcej
        </a>
    </div>
</div>
