<div class="homepage use-cases">
    <div class="wrapper centered">
        <h3 class="header with-bullet">Zastosowania Mobilii</h3>

        <ul class="articles">
            <li>
                <a href="#">
                    <h5 class="header">dla przewozu osób</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                    <div class="image-wrapper">
                        <img src="http://placehold.it/356x310" alt=""/>
                        <div class="hover-layer"></div>
                    </div>
                    <span class="see-more">Dowiedz się więcej</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <h5 class="header">dla przewozu osób</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                    <div class="image-wrapper">
                        <img src="http://placehold.it/356x310" alt=""/>
                        <div class="hover-layer"></div>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <h5 class="header">dla komunikacji miejskiej</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                    <div class="image-wrapper">
                        <img src="http://placehold.it/356x310" alt=""/>
                        <div class="hover-layer"></div>
                    </div>
                    <span class="see-more">Dowiedz się więcej</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <h5 class="header">dla komunikacji miejskiej</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                    <div class="image-wrapper">
                        <img src="http://placehold.it/356x310" alt=""/>
                        <div class="hover-layer"></div>
                    </div>
                    <span class="see-more">Dowiedz się więcej</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <h5 class="header">dla komunikacji miejskiej</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                    <div class="image-wrapper">
                        <img src="http://placehold.it/356x310" alt=""/>
                        <div class="hover-layer"></div>
                    </div>
                    <span class="see-more">Dowiedz się więcej</span>
                </a>
            </li>
        </ul>
    </div>
</div>
