<div class="newsletter">
    <div class="wrapper centered">
        <h2>Zapisz się na newsletter</h2>

        <form action="">
            <div class="form-group">
                <input type="text" placeholder="Twój adres e-mail"/>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-large btn-blue btn-with-right-arrow" value="Zapisz mnie" />
            </div>
        </form>
    </div>
</div>
