<div class="social-buttons">
    <ul>
        <li class="call-us">
            <a href="#"><span>zadzwoń</span></a>
        </li>

        <li class="social">
            <a class="fb" href="#"></a>
        </li>

        <li class="social">
            <a class="gplus" href="#"></a>
        </li>
    </ul>
</div>
