.applications {
    margin: 50px 0;

    .content {
        padding: 45px 130px 10px 45px;
    }

    p {
        font-size: 16px;
        color: #2b2f35;

        &.lead {
            font-size: 23px;
        }
    }


    .tiles {
        margin-top: 50px;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            float: left;
            max-width: 24%;
            margin: 0 0.5% 30px;
            max-height: 400px;
            display: inline-block;
            background: #fff;
            border-radius: 10px;
            border: 1px solid #b2e5df;
            overflow: hidden;
            position: relative;
            padding: 35px 0 0 0;

            h5 {
                font-size: 16px;
                color: #10abad;
                max-height: 20px;
                overflow: hidden;
            }

            p {
                font-size: 12px;
                color: #464646;
                max-height: 75px;
                margin: 20px 44px 0;
                overflow: hidden;
            }

            .image-wrapper {
                position: relative;

                &::after {
                    content: " ";
                    display: block;
                    background: url('../images/semi-circle-usecase-pattern.png') top center no-repeat;
                    width: 100%;
                    height: 53px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            span.see-more {
                display: block;
                font-size: 15px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: #fff;
                width: 100%;
                color: #10abad;
                padding: 10px 0;
                text-transform: uppercase;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .applications {
        .tiles {
            li {
                max-height: 350px;
            }
        }
    }
}

@media only screen and (max-width: 960px) {
    .applications {
        h2 {
            font-size: 34px;
        }
        
        h4 {
            font-size: 28px;
        }

        p.lead {
            font-size: 20px;
        }
        
        .content {
            padding-right: 20px;
        }

        .tiles {
            li {
                width: 284px;
                max-width: none;
                float: none;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .applications {
        .content {
            padding: 20px 10px;
        }
    }
}
