.categories-list {
    margin: 25px 0 0 0;

    ul {
        padding: 0;
        margin: 0;
        
        li {
            list-style: none;
            float: left;
            width: 19%;
            margin: 0 0.5% 10px;
            
            &:first-child {
                margin-left: 0;
            }
            
            &:last-child {
                margin-right: 0;
            }

            a {
                font-family: Roboto, sans-serif;
                font-weight: 400;
                font-size: 16px;
                background: #1ca4c0;
                color: #ffffff;
                text-transform: uppercase;
                display: block;
                padding: 8px 0;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                border-radius: 7px;
                border: 1px solid #1ca4c0;

                &:hover {
                    color: #1e859a;
                    background: #fff;
                }
            }

            &.active {
                a {
                    background: #1e859a;

                    &:hover {
                        color: #1e859a;
                        background: #fff;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .categories-list {
        ul {
            li {
                width: 24%;
                margin: 0 0.5% 10px;

                &:first-child {
                    margin-left: 0.5%;
                }

                &:last-child {
                    margin-right: 0.5%;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .categories-list {
        ul {
            li {
                width: 49%;
                margin: 0 0.5% 10px;

                &:first-child {
                    margin-left: 0.5%;
                }

                &:last-child {
                    margin-right: 0.5%;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .categories-list {
        ul {
            li {
                width: 100%;
                margin: 0 0 10px 0;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
