.blog {
    .wrapper {
        position: relative;
    }

    &.cover {
        min-height: 1316px;
        width: 100%;
        background: url('../images/homepage-cover.jpg') top center no-repeat;

        .cover-header {
            position: absolute;
            top: 69px;
            left: 0;
            margin: 0;
            line-height: 90px;
            font-size: 77px;
            color: #0a4c5a;
            text-transform: uppercase;

            .low {
                display: block;
                font-size: 60px;
                line-height: 76px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .blog {
        &.cover {
            .cover-header {
                line-height: 56px;
                font-size: 47px;
                left: 10px;

                .low {
                    font-size: 40px;
                    line-height: 50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .blog {
        &.cover {
            display: none;
        }
    }
}
