.pagination {
    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            display: inline-block;

            a {
                font-size: 14px;
                color: #1e859a;
                font-family: 'Roboto', sans-serif;
                margin: 0 3px;
            }
            
            &.current {
                a {
                    font-weight: bold;
                }
            }
        }
    }
}
