.blog-post {
    margin: 50px 0;
    font-family: 'Roboto', sans-serif;

    p, strong, span, h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
    }

    h2 {
        margin: 45px 0;
        font-size: 57px;
    }
    
    .medium {
        font-weight: 500;
    }

    .light {
        font-weight: 300;
    }

    .img-wrapper {
        position: relative;
    }

    .labels {
        position: absolute;
        top: 0;
        left: 0;
    }

    .top-label {
        line-height: 26px;
        height: 44px;
    }

    .category-label {
        font-family: 'Roboto', sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-size: 21px;
        background: #1ca4c0;
        padding: 10px 20px;
        float: left;
    }

    .date-label {
        font-family: 'Roboto', sans-serif;
        color: #2d2d2d;
        text-transform: uppercase;
        font-size: 18px;
        background: #fff;
        padding: 10px 20px;
        float: left;
    }

    p {
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;

        &.lead {
            color: #2b2f35;
            font-size: 25px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    .content {
        margin-bottom: 70px;
    }

    .author {
        h6 {
            margin: 20px 0 0 0;
            color: #10abad;
            font-size: 16px;
            font-weight: 400;
        }

        .description {
            font-weight: 300;
            font-size: 18px;
            color: #2b2f35;
        }

        .author-photo {
            margin-top: -25px;
        }
    }
}

@media only screen and (max-width: 960px) {
    .blog-post {
        h2 {
            font-size: 45px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .blog-post {
        h2 {
            font-size: 30px;
        }
    }
}
