.posts-list {
    h5 {
        font-size: 25px;
        color: #10abad;
        margin-bottom: 20px;
    }

    p, strong, span, h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
    }

    ul {
        padding: 0;
        margin: 0;

        li {
            list-style: none;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            width: 31%;
            margin: 0 1.5%;
            overflow: hidden;
            float: left;
            position: relative;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }


            .info {
                position: absolute;
                bottom: 40px;
                left: 0;
                padding: 10px 20px 0 45px;
                max-width: 85%;
                background: rgba(255, 255, 255, 0.5);
            }

            h4 {
                font-size: 39px;
                font-weight: 400;
                margin: 20px 0;
                max-height: 92px;
                overflow: hidden;
            }

            .date {
                color: #2d2d2d;
                font-size: 16px;
                font-weight: 400;
                display: block;
            }

            .label {
                background: #90dce4;
                color: #fff;
                font-weight: 400;
                display: inline-block;
                text-transform: uppercase;
                padding: 7px 40px;
                margin: 8px 0 0 0;
            }

            &:hover {


                h4 {
                    color: #fff;
                }

                .info {
                    background: rgba(30, 133, 154, 0.7);
                }

                .label {
                    background: #fff;
                    color: #1e859a;
                }

                .date {
                    color: #90dce4;
                }
            }
        }

        &.two-cols {
            li {
                &:first-child {
                    width: 65%;
                }
            }
        }

        &.posts-row {
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 960px) {
    .posts-list {
        ul {
            li {
                h4 {
                    font-size: 24px;
                    max-height: 56px;
                }

                .label {
                    font-size: 10px;
                    padding: 7px 20px;
                }

                &.two-cols {

                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .posts-list {
        ul {
            li {
                width: auto;
                margin: 0 0 10px 0;
            }

            &.posts-row {
                margin: 0;
            }

            &.two-cols {
                li {
                    width: auto;
                    margin: 0 0 10px 0;

                    &:first-child {
                        width: 100%;
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }
}
