.offer-page {
    margin: 60px 0;

    .row {
        margin: 30px 0 45px;
    }

    .offer-col {
        padding: 0 40px 25px;

        img {
            margin: 20px 0 30px;
        }

        p {
            font-size: 25px;
            color: #2b2f35;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            font-size: 20px;
            color: #2b2f35;
            list-style: none;

            span {
                color: #10abad;
                font-size: 25px;
            }
        }

        .annotation {
            margin-top: 20px;
            display: inline-block;
            font-size: 12px;
        }
    }

    .dotted-border-top {
        border-top: 2px dotted #10abad;
    }

    .dotted-border-left {
        border-left: 2px dotted #10abad;
    }

    .dotted-border-right {
        border-right: 2px dotted #10abad;
    }

    .offer-annotation {
        margin: 0 0 110px 0;

        h4 {
            margin: 30px 0 25px;
        }

        .col {
            margin-top: 10px;
            height: 175px;
        }

        ul {
            width: 420px;
            margin: 0 auto;

            li {
                font-size: 25px;
                color: #10abad;

                span {
                    color: #2b2f35;
                }
            }
        }
    }

    .annotation-with-text {
        background: url('../images/bubbles-bg.jpg') top center;
        padding: 70px 0;
        height: 386px;
        overflow: hidden;

        a {
            display: inline-block;
            margin-top: 40px;
        }
    }
}

@media only screen and (max-width: 960px) {
    .offer-page {
        .annotation-with-text {
            h3 {
                font-size: 30px;
            }
        }
    }
}

@media only screen and (max-width: 820px) {
    .offer-page {
        .offer-col {
            border: 0;
            border-bottom: 2px dotted #10abad;

            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .offer-page {
        .annotation-with-text {
            padding: 30px 0;

            h3 {
                font-size: 26px;
            }
        }

        .offer-annotation {
            ul {
                width: auto;

                li {
                    font-size: 18px;
                }
            }
        }
    }
}
