.order-form-wrapper {
    h5 {
        font-size: 30px;

        .color {
            color: #10abad;
        }
    }

    .form-group {
        float: left;
        width: 50%;
        margin-bottom: 10px;

        input,
        textarea {
            width: 100%;
        }

        .form-control {
            display: block;
            width: 100%;
            height: 52px;
            padding: 10px 10px;
            font-size: 18px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #10abad;
            border-radius: 4px;
            font-family: 'Roboto', sans-serif;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        textarea.form-control {
            height: auto;
        }

        .checkbox label, .radio label {
            cursor: pointer;
        }

        input[type=checkbox] {
            width: auto;
            margin-right: 4px;
        }

        input[type=submit] {
            width: auto;
        }

        label {
            color: #c2c2c2;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            margin: 10px 0;
            display: inline-block;
        }

        &.full-width {
            width: 100%;

            &:first-child,
            &:nth-child(2) {
                padding-right: 0;
            }
        }

        &:first-child {
            padding-right: 10px;
        }

        &:nth-child(2) {
            padding-left: 10px;
        }

        .btn-large {
            font-size: 20px;
            padding: 18px 90px;
            margin: 50px 0 75px;

            &.btn-with-right-arrow {
                background-image: url('../images/arrow-right.png');
                background-position: 34px 10px;
                background-repeat: no-repeat;
                padding-left: 95px;
                padding-right: 50px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .order-form-wrapper {
        .wrapper {
            .form-group {
                float: left;
                width: 100%;
                margin: 0 0 10px 0;
                padding: 0;
            }

            input[type=submit] {
                font-size: 14px;
            }

            .btn-large {
                &.btn-with-right-arrow {
                    background-position: 28px 7px;
                }
            }
        }
    }
}
