<div class="categories-list">
    <div class="wrapper">
        <ul class="clearfix centered">
            <li class="active">
                <a href="#">
                    Kategoria 1
                </a>
            </li>

            <li>
                <a href="#">
                    Kategoria 2
                </a>
            </li>

            <li>
                <a href="#">
                    Kategoria 3
                </a>
            </li>

            <li>
                <a href="#">
                    Kategoria 4
                </a>
            </li>

            <li>
                <a href="#">
                    Kategoria 5
                </a>
            </li>
        </ul>
        <ul class="clearfix centered">
            <li>
                <a href="#">
                    Kategoria 6
                </a>
            </li>

            <li>
                <a href="#">
                    Kategoria 7
                </a>
            </li>
        </ul>
    </div>
</div>
