<div class="blog cover">
    <div class="wrapper">
        <h1 class="cover-header">
            Poczytaj nasze
            <br/>
            aktualności
            <span class="low">
                lorem ipsum
            </span>
        </h1>
    </div>
</div>
