<div class="pagination">
    <div class="wrapper centered">
        <ul>
            <li class="current">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
        </ul>
    </div>
</div>
