<div class="blog-post">
    <div class="wrapper">
        <div class="img-wrapper">
            <img src="../../images/blog-post-photo-1.jpg" alt="blog post 1"/>
            <div class="labels clearfix">
                <span class="category-label top-label">kategoria 2</span>
                <span class="date-label top-label">20/10/2016 godz. 17:00</span>
            </div>
        </div>

        <div class="content">
            <h2 class="header grey">
                <span class="medium">Lorem ipsum dolor</span>
                <br/>
                <span class="light">
                    sit amet, consectetur adipisicing.
                </span>
            </h2>

            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis
                vehicula. Mauris elementum risus a convallis scelerisque.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque.
            </p>

            <p>
                Sed varius aliquet dolor, nec porta erat sagittis placerat. Donec dignissim aliquam nunc in sagittis. Nullam accumsan porta ante at rhoncus. Nam eu ante rhoncus, maximus felis ut, mollis sem. Sed dictum efficitur arcu, sed convallis odio pellentesque non. Pellentesque commodo dolor at magna bibendum convallis. Maecenas eros turpis, gravida eu pretium quis, lobortis a sem.Sed varius aliquet dolor, nec porta erat sagittis placerat. Donec dignissim aliquam nunc in sagittis. Nullam accumsan porta ante at rhoncus. Nam eu ante rhoncus, maximus felis ut, mollis sem. Sed dictum efficitur arcu, sed convallis odio pellentesque non. Pellentesque commodo dolor at magna bibendum convallis. Maecenas eros turpis, gravida eu pretium quis, lobortis a sem.
            </p>

            <p>
                In tincidunt, lorem eget accumsan egestas, lacus magna tristique magna, nec posuere nibh ligula et ligula. Proin vel feugiat metus. Nullam aliquet condimentum libero in suscipit. In sagittis justo vel justo tristique placerat. Praesent in justo libero. Nunc at tincidunt lacus. Aliquam consequat diam lacus. Sed lacinia lacinia turpis a tristique. Duis eu tortor mi. Morbi a diam dolor.In tincidunt, lorem eget accumsan egestas, lacus magna tristique magna, nec posuere nibh ligula et ligula. Proin vel feugiat metus. Nullam aliquet condimentum libero in suscipit. In sagittis justo vel justo tristique placerat. Praesent in justo libero. Nunc at tincidunt lacus. Aliquam consequat diam lacus. Sed lacinia lacinia turpis a tristique. Duis eu tortor mi. Morbi a diam dolor
            </p>

            <p>
                Curabitur sit amet porttitor dolor. Aenean sit amet posuere dolor. Sed id volutpat erat, eu faucibus ex. Mauris id luctus justo, eget venenatis nisi. Praesent libero mauris, sodales nec lectus et, vulputate dignissim leo. Mauris ornare tellus nisl, ut condimentum nisi accumsan id. Phasellus viverra convallis metus nec tempus. In tristique mauris in lorem aliquet volutpat. Phasellus congue felis vitae tellus lobortis dictum. In iaculis quam ut nulla blandit, vitae mollis lectus dapibus. Sed iaculis ut nisi non finibus. In elit magna, rutrum at purus a, semper auctor velit. Integer scelerisque ligula ex, nec tincidunt ex mollis nec.Curabitur sit amet porttitor dolor. Aenean sit amet posuere dolor. Sed id volutpat erat, eu faucibus ex. Mauris id luctus justo, eget venenatis nisi. Praesent libero mauris, sodales nec lectus et, vulputate dignissim leo. Mauris ornare tellus nisl, ut condimentum nisi accumsan id. Phasellus viverra convallis metus nec tempus. In tristique mauris in lorem aliquet volutpat. Phasellus congue felis vitae tellus lobortis dictum. In iaculis quam ut nulla blandit, vitae mollis lectus dapibus. Sed iaculis ut nisi non finibus. In elit magna, rutrum at purus a, semper auctor velit. Integer scelerisque ligula ex, nec tincidunt ex mollis nec.
            </p>

            <p>
                Nullam iaculis mattis justo non mollis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut a dapibus arcu, sollicitudin condimentum sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce placerat mi erat, non efficitur quam commodo at. Sed sapien diam, pretium in tempus gravida, euismod et mauris. Etiam auctor laoreet felis quis fermentum. Nulla euismod ultrices euismod.Nullam iaculis mattis justo non mollis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut a dapibus arcu, sollicitudin condimentum sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce placerat mi erat, non efficitur quam commodo at. Sed sapien diam, pretium in tempus gravida, euismod et mauris. Etiam auctor laoreet felis quis fermentum. Nulla euismod ultrices euismod.
            </p>

            <p>
                Praesent ornare aliquet enim quis maximus. Integer porta ligula et dictum condimentum. Fusce vel finibus sapien. Nam scelerisque ipsum id velit accumsan dictum. Nam pretium gravida sapien non egestas. Quisque et arcu sed arcu tristique hendrerit eget in neque. Morbi quam nibh, molestie vel risus sit amet, auctor maximus metus. Nunc interdum pretium ante sed venenatis.Praesent ornare aliquet enim quis maximus. Integer porta ligula et dictum condimentum. Fusce vel finibus sapien. Nam scelerisque ipsum id velit accumsan dictum. Nam pretium gravida sapien non egestas. Quisque et arcu sed arcu tristique hendrerit eget in neque. Morbi quam nibh, molestie vel risus sit amet, auctor maximus metus. Nunc interdum pretium ante sed venenatis.
            </p>
        </div>

        <div class="author clearfix">
            <img src="../../images/blog-post-author.jpg" class="author-photo align-left" alt=""/>
            <h6>Bartosz Nowak</h6>
            <p class="description">
                Praesent ornare aliquet enim quis maximus. Integer porta ligula et dictum condimentum. Fusce vel finibus sapien. Nam scelerisque ipsum id velit accumsan dictum. Nam pretium gravida sapien non egestas. Quisque et arcu sed arcu tristique hendrerit eget in neque. Morbi quam nibh, molestie vel risus sit amet, auctor maximus metus. Nunc interdum pretium ante sed venenatis.
            </p>
        </div>
    </div>
</div>
