<div class="posts-list">
    <div class="wrapper">
        <h5>
            Aktualności
        </h5>

        <ul class="clearfix two-cols posts-row">
            <li>
                <a href="/templates/pages/blog-post.html">
                    <img src="http://placehold.it/780x405" alt=""/>

                    <div class="info">
                        <h4>
                            Lorem ipsum dolor sit amet
                        </h4>

                        <span class="date">
                            20/10/2016 godz. 17:00
                        </span>

                        <span class="label">
                            Kategoria 5
                        </span>
                    </div>
                </a>
            </li>

            <li>
                <a href="/templates/pages/blog-post.html">
                    <img src="http://placehold.it/393x427" alt=""/>

                    <div class="info">
                        <h4>
                            Lorem ipsum dolor sit amet
                        </h4>

                        <span class="date">
                            20/10/2016 godz. 17:00
                        </span>

                        <span class="label">
                            Kategoria 5
                        </span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
