<div class="offer-page">
    <div class="annotation-with-text">
        <div class="wrapper centered">
            <h3 class="header">
                zaciekawiła cię oferta?
                <br/>
                złóż zamówienie już teraz
                <br/>
                i korzystaj przez miesiąc za darmo!
            </h3>

            <a href="#" class="btn btn-large btn-blue btn-with-right-arrow">
                Zamów
            </a>
        </div>
    </div>
</div>
