<div class="offer-page">
    <div class="wrapper">
        <h2 class="header underline dark">
            Oferta
        </h2>

        <div class="row clearfix">
            <div class="offer-col one-third">
                <img src="../../images/offer-col-1.jpg" alt=""/>

                <h4 class="header grey">
                    MOBILIA
                    <br/>
                    NA STAŁE
                </h4>

                <p>
                    dla przewozu osób
                    <br/>
                    w kawiarniach i restauracjach
                    <br/>
                    w firmach
                    <br/>
                    na konferencjach
                </p>

                <ul>
                    <li>
                        router za <span class="color">1 zł</span>
                    </li>
                    <li>
                        abonament od <span class="color">X zł netto </span>
                    </li>
                    <li>
                        umowa na <span class="color">24 miesiące</span>
                    </li>
                    <li>
                        montaż <span class="color">Y zł netto</span>
                    </li>
                </ul>

                <span class="annotation">
                    * dotyczy montażu w pojazdach
                </span>
            </div>

            <div class="offer-col one-third dotted-border-left dotted-border-right">
                <img src="../../images/offer-col-2.jpg" alt=""/>

                <h4 class="header grey">
                    MOBILIA
                    <br/>
                    NA CHWILĘ
                </h4>

                <p>
                    dla przewozu osób
                    <br/>
                    w kawiarniach i restauracjach
                    <br/>
                    w firmach
                    <br/>
                    na konferencjach
                </p>

                <ul>
                    <li>
                        router za <span class="color">1 zł</span>
                    </li>
                    <li>
                        abonament od <span class="color">X zł netto </span>
                    </li>
                    <li>
                        umowa na <span class="color">24 miesiące</span>
                    </li>
                    <li>
                        montaż <span class="color">Y zł netto</span>
                    </li>
                </ul>

                <span class="annotation">
                    * dotyczy montażu w pojazdach
                </span>
            </div>

            <div class="offer-col one-third">
                <img src="../../images/offer-col-3.jpg" alt=""/>

                <h4 class="header grey">
                    MOBILIA
                    <br/>
                    NA WYMIAR
                </h4>

                <p>
                    dla przewozu osób
                    <br/>
                    w firmach
                    <br/>
                    na konferencjach
                </p>

                <ul>
                    <li>
                        router za <span class="color">1 zł</span>
                    </li>
                    <li>
                        abonament od <span class="color">X zł netto </span>
                    </li>
                    <li>
                        umowa na <span class="color">24 miesiące</span>
                    </li>
                    <li>
                        montaż <span class="color">Y zł netto</span>
                    </li>
                </ul>

                <span class="annotation">
                    * dotyczy montażu w pojazdach
                </span>
            </div>
        </div>

        <div class="offer-annotation">
            <div class="dotted-border-top clearfix">
                <div class="col one-half dotted-border-right"></div>
                <div class="col one-half"></div>
            </div>

            <h4 class="grey centered">
                Korzystając z Mobili otrzymasz:
            </h4>

            <ul>
                <li><span>Nielimitowany internet LTE</span></li>
                <li><span>Router najwyższej klasy</span></li>
                <li><span>Lorem ipsum dolor sit amet</span></li>
                <li><span>Lorem ipsum dolor</span></li>
            </ul>
        </div>
    </div>
</div>
