<div class="order-form-wrapper">
    <div class="wrapper thin">
        <h5 class="centered">
            <span class="color">Zainteresowany?</span>
            Zostaw nam swoje dane,
            <br/>
            a odezwiemy się najszybciej jak to możliwe
        </h5>

        <form action="/">
            <div class="form-row clearfix">
                <div class="form-group">
                    <select class="form-control" name="" id="">
                        <option value="1">Wybierz zastosowanie</option>
                        <option value="1">Lorem 1</option>
                        <option value="1">Lorem ipsum 2</option>
                        <option value="1">Lorem ipsum dolor 3</option>
                    </select>
                </div>
            </div>

            <div class="form-row clearfix">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="imię"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" placeholder="nazwisko"/>
                </div>
            </div>

            <div class="form-row clearfix">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="e-mail"/>
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" placeholder="telefon"/>
                </div>
            </div>

            <div class="form-row clearfix">
                <div class="form-group full-width">
                    <textarea class="form-control" rows="4" placeholder="Uwagi"></textarea>
                </div>
            </div>

            <div class="form-row clearfix">
                <div class="form-group full-width">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            wyrażam zgodę na przesyłanie oferty handlowej
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-row clearfix">
                <div class="form-group full-width centered">
                    <input type="submit" class="btn btn-large btn-blue btn-with-right-arrow" value="proszę o kontakt"/>
                </div>
            </div>
        </form>
    </div>
</div>
