.about {
    margin: 85px 0;

    h2 {
        font-size: 57px;
        color: #2b2f35;
    }

    h5 {
        margin: 12px 0;
    }

    p {
        font-size: 16px;
        line-height: 23px;
        font-family: 'Roboto', sans-serif;

        a {
            font-size: 20px;
            color: #10abad;
        }

        &.lead {
            color: #2b2f35;
            font-size: 20px;
            font-family: Capriola,sans-serif;
        }

        &.quoted {
            color: #10abad;
            font-style: italic;
        }
    }

    ul {
        padding-left: 20px;

        li {
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 16px;
            line-height: 23px;
            color: #10abad;

            span {
                color: #2b2f35;
                font-family: 'Roboto', sans-serif;
                font-weight: normal;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .about {
        h2 {
            font-size: 36px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .about {
        h2 {
            font-size: 30px;
        }

        p {
            &.lead {
                font-size: 18px;
            }

            a {
                font-size: 16px;
            }
        }
    }
}
