<div class="about">
    <div class="wrapper clearfix">
        <h2 class="header">
            Lorem ipsum dolor
            <br/>
            consectetur adipiscing elit.
        </h2>

        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna.
            <a href="#">Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque. </a>
        </p>

        <p>
            <img src="../../images/about-pic-1.jpg" class="align-left" alt=""/>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque.
            efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque.
            efficitur iaculis vehicula. Mauris elementum risus a convallis scelerisque.
        </p>

        <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectu
        </h5>

        <ul>
            <li><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metu</span></li>
            <li><span>Aretra in non urna. Morbi efficitur iaculis vehicula. Mauris elementum risus</span></li>
            <li><span>Ger elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam</span></li>
            <li><span>Stibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam.</span></li>
        </ul>

        <p class="quoted">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum urna metus, pretium eu lectus placerat, laoreet iaculis quam. Quisque consectetur sodales sem et faucibus. Suspendisse ac metus a nibh malesuada pharetra in non urna."
        </p>
    </div>
</div>
